# udev rule: switch power profile on AC plug/unplug.
# Install to /etc/udev/rules.d/ then `sudo udevadm control --reload-rules`.
# Long scripts must not run directly in udev; use systemd-run.
SUBSYSTEM=="power_supply", ATTR{online}=="1", \
  RUN+="/usr/bin/systemd-run --no-block --unit=shesh-on-ac /usr/local/bin/shesh-power.sh ac"
SUBSYSTEM=="power_supply", ATTR{online}=="0", \
  RUN+="/usr/bin/systemd-run --no-block --unit=shesh-on-bat /usr/local/bin/shesh-power.sh battery"
