[Unit]
Description=Smart Organizer Timer
Requires=smart-organizer.service

[Timer]
OnBootSec=15min
OnUnitActiveSec=1h
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
