# /etc/udev/rules.d/60-ioschedulers.rules
# CachyOS 260628 defaults NVMe to kyber; enforce it persistently.
# See docs/SHESH/04_DEVICE_PROFILE.md
ACTION=="add|change", KERNEL=="nvme[0-9]*", ATTR{queue/scheduler}="kyber"
